@use '../utils' as *;
@use '../_base/colors.scss' as *;
@use '../_base/fonts.scss' as *;

.cdx-textarea {
  width: 100%;

  textarea {
    @include u_shadow-effect;
    @include u_transition(all);

    width: 100%;
    min-height: 300px;
    border: $secondary;
    border-radius: 1px;
    padding: 20px;
    font-size: 16px;
    outline: 3px solid $white;
    background-color: #fff;

    &:focus {
      outline-color: $secondary;
    }
  }
}
