@mixin u_max-width {
  max-width: 1080px;
  padding: 0 20px;
  margin: auto;
}

@mixin u_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin u_fullsize {
  width: 100%;
  height: 100%;
}

@mixin u_size($size) {
  width: $size;
  height: $size;
}

@mixin u_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin u_row {
  display: flex;
  flex-direction: row;
}

@mixin u_col {
  display: flex;
  flex-direction: column;
}

@mixin u_gap($gap) {
  & > :not(:last-child) {
    margin-right: $gap;
  }
}

@mixin u_gap-v($gap) {
  & > :not(:last-child) {
    margin-bottom: $gap;
  }
}

@mixin u_padding-v($pad) {
  padding-top: $pad;
  padding-bottom: $pad;
}

@mixin u_padding-h($pad) {
  padding-left: $pad;
  padding-right: $pad;
}

@mixin u_margin-v($mar) {
  margin-top: $mar;
  margin-bottom: $mar;
}

@mixin u_margin-h($mar) {
  margin-left: $mar;
  margin-right: $mar;
}

@mixin u-shadow {
  box-shadow: 0 3px 7px 1px #aaa;
}

@mixin u_transition($prop) {
  transition: $prop 0.5s;
}

@mixin u_scale-effect {
  transition: transform 0.5s;

  &:active {
    transform: scale(1.1);
  }
}

@mixin u_shadow-effect {
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 3px 7px 1px #aaa;
  }
}

@mixin u_non-exist {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin u_tablet {
  @media screen and (max-width: 1079px) {
    @content;
  }
}

@mixin u_mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
