@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url(sanitize.css);
@import '_base/fonts.scss';
@import '_base/colors.scss';
@import 'utils';

*,
::before,
::after {
  margin: 0;
  padding: 0;

  color: $black;
  font-family: $roboto;
  scroll-behavior: smooth;
}

h1 {
  font-size: 70px;
  font-weight: 900;
}

a {
  text-decoration: none;
}
