@import url(sanitize.css);
@import '_base/fonts.scss';
@import '_base/colors.scss';
@import 'utils';

*,
::before,
::after {
  margin: 0;
  padding: 0;

  color: $black;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

h1 {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 2px;
}

h2 {
  font-size: 50px;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 25px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
