@use '../utils' as *;
@use '../_base/colors.scss' as *;

.contact {
  position: relative;
  background-color: $white;
}

.contact__container {
  @include u_max-width;
  @include u-padding-v(100px);

  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 100px;

  * {
    color: $black;
  }
}

.contact__content {
  @include u_gap-v(20px);

  .contact__content--row {
    @include u_row;
    @include u_between;
    @include u_gap(20px);

    // MOBILE RESPONSIVE
    @include u_mobile {
      @include u_col;
      @include u_gap(0px);
      @include u_gap-v(20px);
    }
  }
}
