@use '../utils' as *;
@use '../_base/colors.scss' as *;

.contact {
  position: relative;
  background-color: $white;
}

.contact__container {
  @include u_max-width;
  @include u-padding-v(100px);

  min-height: 100vh;

  * {
    color: $black;
  }
}
