@use '../utils' as *;
@use '../_base/colors.scss' as *;

.home {
  position: relative;
  background-color: $secondary;
}

.home__container {
  @include u-centered;

  min-height: 100vh;
  padding: 10px;

  * {
    color: $white;
  }
}
.home__heading {
  .home__heading--arrowdown {
    @include u-scale-effect;

    cursor: pointer;
  }
}
