@use '../utils' as *;
@use '../_base/colors.scss' as *;

.manifesto {
  position: relative;
  background-color: $black;
}

.manifesto__container {
  min-height: 100vh;

  * {
    color: $white;
  }
}
