@use '../utils' as *;
@use '../_base/fonts.scss' as *;
@use '../_base/colors.scss' as *;

.manifesto {
  position: relative;
  background-color: $black;
}

.manifesto__container {
  @include u-gap-v(100px);
  @include u-padding-v(50px);

  overflow: hidden;
  padding-bottom: 100px;
  min-height: 100vh;

  * {
    color: $white;
  }
}

.manifesto__services {
  @include u_max-width;
  @include u_between;

  &:nth-child(2) {
    flex-direction: row-reverse;
  }

  .manifesto__services--description {
    @include u-gap-v(30px);

    max-width: 350px;

    p {
      line-height: 2;
      letter-spacing: 1px;
    }
  }
}
