@use '../utils' as *;
@use '../_base/fonts.scss' as *;
@use '../_base/colors.scss' as *;

.services {
  position: relative;
  background-color: $black;
}

.services__container {
  @include u_max-width;
  @include u-padding-v(100px);

  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 100px;

  * {
    color: $white;
  }
}

.services__content {
  @include u-gap-v(100px);
}

.services__offered {
  @include u_between;
  @include u_gap(20px);

  .services__offered--graphic {
    h3 {
      display: none;
    }
  }

  .services__offered--description {
    @include u-gap-v(30px);

    max-width: 350px;

    p {
      line-height: 2;
      letter-spacing: 1px;
    }
  }

  // MOBILE RESPONSIVE
  @include u_mobile {
    @include u_col;

    &:nth-child(2) {
      flex-direction: column-reverse;
    }

    &:nth-child(4) {
      flex-direction: column-reverse;
    }

    .services__offered--graphic {
      @include u_col;

      margin: 0;
      width: 100%;

      h3 {
        display: block;
      }
    }

    .services__offered--description {
      margin: 0;
      max-width: unset;

      h3 {
        display: none;
      }
    }
  }
}
