@use '../utils' as *;
@use '../_base/fonts.scss' as *;
@use '../_base/colors.scss' as *;

.services {
  position: relative;
  background-color: $black;
}

.services__container {
  @include u_max-width;
  @include u-padding-v(100px);

  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 100px;

  * {
    color: $white;
  }
}

.services__content {
  @include u-gap-v(100px);
}

.services__offered {
  @include u_between;

  &:nth-child(2) {
    flex-direction: row-reverse;
  }

  .services__offered--description {
    @include u-gap-v(30px);

    max-width: 350px;

    p {
      line-height: 2;
      letter-spacing: 1px;
    }
  }
}
